@media (max-width: 1100px) {
    #foto_header {
        position: absolute !important;
        top: 33%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    
    .never_miss{
        flex-direction: column!important;
        height: auto!important;
        width: auto!important;
    .never_1{
        height: auto!important;
        width: auto!important;
    }
    }
  }
  

header {
    background-color: #ffe8d6;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-grow: 1;
}

.logo {
    height: 5vh;
    margin-right: 10vh;
}

.linea_seleccio{
    margin-top: 3vh;
    height: 0.3vh;
    width: auto;
    color: black;
    background-color: black;
    margin-bottom: 0px;
    background-color: #ffe8d6;
}
.seleccionat{
    color: #b5ac98!important;
}

.element {
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 2vh;
}
.element:hover{
    .linea_seleccio{
        background-color: #d1c9b6;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.f_perfil {
    margin-left: auto;
    height: 3vh;
    margin-right: 3vh;
}
.contenidor1{

    display: flex;

}
.sec_1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2vh;
    margin: 5vh;
    img {
        width: 80%;
        margin: 0 auto;
        display: block;
        height: 100%;
        padding-top: 5vh;
    }
}

.sec_1 ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec_1 li {
    display: block;
    margin-bottom: 10px;
}


.sec_2{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5vh;
    padding: 2vh;
    img {
        width: 80%;
        margin: 0 auto;
        display: block;
        height: 100%;
        padding-top: 5vh;
    }
}

.sec_2 ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec_2 li {
    display: block;
    margin-bottom: 10px;
}


.recipes{
    margin-left: 6vh;
    margin-right: 6vh;
}
.banner{
    background-color: #edede8;
    padding-bottom: 17vh;
}
.contenidor2{
    display: flex;
    margin-left: 15vh;
    margin-right: 15vh;
}
.seccio1{
    flex-direction: column;
    display: flex;
    justify-content: start;
    flex-grow: 1;
    h1 {
    }
    h2 {
    }
}
.seccio2{
    display: flex;
    flex-grow: 2;
}
.view_cat {
    padding: 1vh 2vh 2vh 1vh;
}
#view {
    color: gray;
}
.linea {
    height: 2px;
    width: auto;
    background-color: black;
    color: black;
    border-width: 2px;
}
#see {
    border-radius: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    width: 100px;
}
.see2 {
    border-radius: 2vh;
    padding: 1vh 1vh 1vh 1vh;
    width: 100px;
    height: 40px;
}
/*
#post1 {
    display: block;
    width: auto;
    max-height: 50vh;
    margin: 0 auto;
}
#post2 {
    display: block;
    width: auto;
    max-height: 50vh;
    height: auto;
    margin: 0 auto;
}
    */
.never_miss {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 22vh;
    border-width: 20vh;
    border-color: black;
    border: 2vh;
    background-color: #ca9a7f;
    border-radius: 2vh;
}

.author {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #ddbeab;
    margin: -0.8vh;
    border: 2px solid black;
    box-sizing: border-box;
}


.author_1 {
    display: flex;
    margin: 4vh 2vh 2vh 2vh;
    flex: 1;
    max-width: 40%;
    flex-direction: column;
    img {
        width: 25vh;
        margin: 0 auto;
        height: auto;
        display: block;
        padding: 0;
        object-fit: cover;
    }
}



.author_2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 4vh 2vh 2vh 2vh;
    
    p {
        line-height: 1.6;
        &.bold {
            font-weight: bold;
        }
    }

    h3 {
        font-size: 24px;
        margin-top: -1vh;
        margin-bottom: -1vh;
    }
}


.never_1 {
    display: flex;
    margin: 6vh 4vh 4vh 4vh;
    flex: 1;
    width: 10vh;
    height: 10vh;
    flex-direction: column;

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        align-items: start;
        li {
            display: block;
            margin-left: 0;
            padding: 0;
            h3 {
                margin: 0;
                padding: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}



.never_2 {
    display: flex;
    flex: 1;
    margin: 6vh 4vh 4vh 4vh;
    width: 10vh;
    height: 10vh;
}
.mail_round {
    margin-top: 2.5vh!important;
    display: block;
    margin: 0 auto;
    border: 2px solid #dabca6;
    height: 4vh;
    width: auto;
    border-radius: 2vh;
}
#mail_input{
    margin-top: 1vh;
    margin-left: 1vh;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
}
#never_button{
    border-radius: 2vh;
    width: 14vh;
    height: 4.2vh;
    margin-right: -0.2vh;
    margin-top: -1vh;
    border-color: #dabca6;
}
.most_popular {
    ul {
        gap: 10%;
        flex-wrap: wrap;
        li {
            width: 40%;
            margin-bottom: 5vh;
            img {
                width: 80%;
                margin: 0 auto;
                display: block;
                height: 100%;
                padding-top: 5vh;
            }
            h4 {
                margin-left: 10%;
            }
            p {
                margin-left: 10%;
            }
        }
        .most_s1 {
            background-color: #f4ebe4;
            margin-left: 7vh;

        }
        .most_s2 {
            background-color: #f4ebe4;
        }
    }
}

.logo_footer {
    height: 5vh;
    margin-right: 10vh;
}

.f_perfil2 {
    height: 2.6vh;
    margin-left: 1vh;
    border-radius: 20%;
}
#dreta {
    margin-right: 10vh;
    margin-left: auto;
}

footer {
    height: 20vh;
    background-color: #ffe8d6;
    border: 1px solid black;
    margin-top: 0.7vh;
    margin-left: -0.8vh;
    margin-right: -0.8vh;
    nav {
        margin-top: 5vh;
    }
}
#foto_header {
    height: 25vh;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: -10vh;
}